*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


}
body{
    background-color: rgb(248, 245, 245);
    /* background-color: black; */
}
.head{
    padding: 25px;
}
.head p{
    margin-top: 12px;
    padding-top: 10px;
    color: rgb(255, 104, 104);
    font-size: 20px;
}
#mode{
    margin-left: 1100px;
padding: 5px;
color: black;
background-color: rgb(213, 213, 213);
border-radius: 6px;
border: 2px solid black;
font-size: 15px;
}
.container{
    margin-top: 50px;
    height: 250px;
    width: 100%;
/* background-color: red; */

;


}
.con-fb{
 height: 220px;   
 width: 210px;
 background-color: rgb(221, 221, 221);
 display: inline-block;
 padding: 15px;
 margin-left:55px;
 border-radius: 30%;
 border-top: 6px solid rgb(136, 221, 255);
 
 font-size: 25px;
 font-weight: 25px;
}
.con-fb:hover{
    border-bottom: 8px solid rgb(147, 224, 255);
    background-color:rgba(212, 212, 211, 0.911) ;
    border-top-right-radius: 20px;

}

.con-fb p,h4,h6{
    text-align: center;
 padding: 5px;
  
}
.con-fb h6{
        color: rgb(132, 130, 130);
        font-variant: small-caps;
        margin-top: 15px;
    
}
.con-fb h4{
    margin-top: 10px;
    font-size: 35px ;
}